blueprints/12_annulation.json
{
  "name": "SAYARA — 12 Annulation",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 2,
      "parameters": { "hook": "{{HOOK_ID_ANNULATION}}", "maxResults": 1 },
      "mapper": {},
      "metadata": { "designer": { "x": 0, "y": 0 } }
    },
    {
      "id": 2,
      "module": "airtable:searchRecords",
      "version": 2,
      "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "DOSSIERS" },
      "mapper": {
        "filterByFormula": "OR({telephone}=\"{{1.body.from}}\",{reference_dossier}=\"{{1.body.reference_dossier}}\")",
        "maxRecords": 1
      },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": { "designer": { "x": 600, "y": 0 } },
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": { "handleErrors": false },
              "mapper": {
                "url": "https://{{SERVER_HOST}}/make-trigger",
                "method": "POST",
                "headers": [{ "name": "Content-Type", "value": "application/json" }],
                "body": {
                  "to": "{{2.records[1].fields.telephone_sourceur}}",
                  "type": "buttons",
                  "text": "❓ *Demande d'annulation — Dossier {{2.records[1].fields.reference_dossier}}*\n\nNous avons reçu une demande d'annulation pour votre dossier.\n\n🚗 {{2.records[1].fields.marque}} {{2.records[1].fields.modele}} — {{2.records[1].fields.reference_variante}}\n\nAvez-vous déjà acheté ce véhicule ?",
                  "buttons": [
                    { "id": "ANNUL_PAS_ACHETE_{{2.records[1].fields.reference_dossier}}", "title": "❌ Pas encore acheté" },
                    { "id": "ANNUL_DEJA_ACHETE_{{2.records[1].fields.reference_dossier}}", "title": "✅ Déjà acheté" }
                  ]
                }
              },
              "metadata": { "designer": { "x": 900, "y": -200 } }
            }
          ],
          "label": "Déclenchement annulation (mot ANNULER ou courtier)",
          "filter": {
            "name": "Trigger annulation",
            "conditions": [
              [
                { "a": "{{1.body.text}}", "o": "text:equalCI", "b": "ANNULER" }
              ],
              [
                { "a": "{{1.body.trigger}}", "o": "text:equal", "b": "ANNULATION_COURTIER" }
              ]
            ]
          }
        },
        {
          "flow": [
            {
              "id": 5,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": {},
              "metadata": { "designer": { "x": 900, "y": 0 } },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 6,
                      "module": "tools:SetVariables",
                      "version": 1,
                      "parameters": {},
                      "mapper": {
                        "variables": [
                          {
                            "name": "montant_remboursement",
                            "value": "{{2.records[1].fields.total_livre_au_port - 2.records[1].fields.frais_notaire}}"
                          }
                        ]
                      },
                      "metadata": { "designer": { "x": 1200, "y": -100 } }
                    },
                    {
                      "id": 7,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://{{SERVER_HOST}}/make-trigger",
                        "method": "POST",
                        "headers": [{ "name": "Content-Type", "value": "application/json" }],
                        "body": {
                          "to": "{{HOOK_ID_NOTAIRE}}",
                          "type": "text",
                          "text": "MSG4_REMBOURSEMENT"
                        }
                      },
                      "metadata": { "designer": { "x": 1200, "y": 0 } },
                      "_comment": "Déclenche scénario 11 Message 4 notaire avec motif CAS1"
                    },
                    {
                      "id": 8,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://api.carbone.io/render/{{CARBONE_TEMPLATE_NOTAIRE}}",
                        "method": "POST",
                        "headers": [
                          { "name": "Authorization", "value": "Bearer {{CARBONE_API_KEY}}" },
                          { "name": "Content-Type",   "value": "application/json" }
                        ],
                        "body": {
                          "data": {
                            "trigger": "MSG4_REMBOURSEMENT",
                            "reference_dossier": "{{2.records[1].fields.reference_dossier}}",
                            "motif": "Annulation CAS1 — véhicule non acheté",
                            "montant_remboursement": "{{6.montant_remboursement}}",
                            "frais_sayara": 0,
                            "frais_prop": 0
                          }
                        }
                      },
                      "metadata": { "designer": { "x": 1500, "y": 0 } }
                    },
                    {
                      "id": 9,
                      "module": "airtable:updateRecord",
                      "version": 2,
                      "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "DOSSIERS" },
                      "mapper": {
                        "id": "{{2.records[1].id}}",
                        "fields": { "statut": "ANNULE_CAS1" }
                      },
                      "metadata": { "designer": { "x": 1800, "y": 0 } }
                    },
                    {
                      "id": 10,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://{{SERVER_HOST}}/make-trigger",
                        "method": "POST",
                        "headers": [{ "name": "Content-Type", "value": "application/json" }],
                        "body": {
                          "to": "{{2.records[1].fields.whatsapp_pro}}",
                          "type": "text",
                          "text": "✅ *Annulation confirmée — Dossier {{2.records[1].fields.reference_dossier}}*\n\nVotre demande d'annulation a été traitée.\n\n💰 *Remboursement :* {{formatNumber(6.montant_remboursement; 0; ' ')}} DA\n(Dépôt total — frais notaire)\n\nLe remboursement sera effectué par le notaire sous 5 jours ouvrés.\n\nNous espérons vous revoir bientôt. 🙏"
                        }
                      },
                      "metadata": { "designer": { "x": 2100, "y": 0 } }
                    }
                  ],
                  "label": "CAS1 — Pas encore acheté",
                  "filter": {
                    "name": "PAS_ACHETE",
                    "conditions": [[{ "a": "{{1.body.button_reply.id}}", "o": "text:startWith", "b": "ANNUL_PAS_ACHETE_" }]]
                  }
                },
                {
                  "flow": [
                    {
                      "id": 11,
                      "module": "builtin:BasicRouter",
                      "version": 1,
                      "parameters": {},
                      "mapper": {},
                      "metadata": { "designer": { "x": 1200, "y": 200 } },
                      "routes": [
                        {
                          "flow": [
                            {
                              "id": 12,
                              "module": "http:ActionSendData",
                              "version": 3,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "url": "https://{{SERVER_HOST}}/make-trigger",
                                "method": "POST",
                                "headers": [{ "name": "Content-Type", "value": "application/json" }],
                                "body": {
                                  "to": "{{2.records[1].fields.whatsapp_pro}}",
                                  "type": "text",
                                  "text": "❌ *Annulation impossible — Dossier {{2.records[1].fields.reference_dossier}}*\n\nVotre véhicule est actuellement *en transit* sur le navire.\n\nSelon les termes de votre contrat, l'annulation n'est pas possible une fois le véhicule embarqué.\n\nNous vous contacterons dès son arrivée au port d'Alger. 🚢"
                                }
                              },
                              "metadata": { "designer": { "x": 1500, "y": 100 } }
                            },
                            {
                              "id": 13,
                              "module": "airtable:updateRecord",
                              "version": 2,
                              "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "DOSSIERS" },
                              "mapper": {
                                "id": "{{2.records[1].id}}",
                                "fields": { "statut": "ANNULATION_REFUSEE" }
                              },
                              "metadata": { "designer": { "x": 1800, "y": 100 } }
                            }
                          ],
                          "label": "CAS C — BL existe (embarqué)",
                          "filter": {
                            "name": "BL présent",
                            "conditions": [[{ "a": "{{2.records[1].fields.lien_bill_of_lading}}", "o": "text:exist", "b": "" }]]
                          }
                        },
                        {
                          "flow": [
                            {
                              "id": 14,
                              "module": "airtable:searchRecords",
                              "version": 2,
                              "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "DEMANDES_MARCHE" },
                              "mapper": {
                                "filterByFormula": "AND({modele}=\"{{2.records[1].fields.modele}}\",IS_AFTER({date_demande},DATEADD(TODAY(),-30,'days')))",
                                "maxRecords": 1000
                              },
                              "metadata": { "designer": { "x": 1500, "y": 300 } }
                            },
                            {
                              "id": 15,
                              "module": "airtable:searchRecords",
                              "version": 2,
                              "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "CATALOGUE" },
                              "mapper": {
                                "filterByFormula": "{reference}=\"{{2.records[1].fields.reference_variante}}\"",
                                "maxRecords": 1
                              },
                              "metadata": { "designer": { "x": 1500, "y": 450 } }
                            },
                            {
                              "id": 16,
                              "module": "http:ActionSendData",
                              "version": 3,
                              "parameters": { "handleErrors": false },
                              "mapper": {
                                "url": "https://{{SERVER_HOST}}/make-trigger",
                                "method": "POST",
                                "headers": [{ "name": "Content-Type", "value": "application/json" }],
                                "body": {
                                  "to": "{{2.records[1].fields.telephone_sourceur}}",
                                  "type": "buttons",
                                  "text": "📋 *Demande rétrocession — Dossier {{2.records[1].fields.reference_dossier}}*\n\nUn client souhaite annuler sa commande.\n\n🚗 {{2.records[1].fields.marque}} {{2.records[1].fields.modele}} — {{2.records[1].fields.reference_variante}}\n\n📊 *Popularité modèle (30j) :* {{length(14.records)}} demandes {{if(length(14.records) >= 3; '🔥 POPULAIRE'; '')}}\n\n💸 *Frais changement propriétaire :* {{formatNumber(15.records[1].fields.frais_changement_prop_da; 0; ' ')}} DA\n\nAcceptez-vous la rétrocession ?",
                                  "buttons": [
                                    { "id": "RETRO_ACCEPTE_{{2.records[1].fields.reference_dossier}}",          "title": "✅ J'accepte" },
                                    { "id": "RETRO_REFUSE_{{2.records[1].fields.reference_dossier}}", "title": "❌ Je refuse" }
                                  ]
                                }
                              },
                              "metadata": { "designer": { "x": 1800, "y": 300 } }
                            }
                          ],
                          "label": "CAS2 — Acheté non embarqué"
                        }
                      ]
                    }
                  ],
                  "label": "Déjà acheté → vérifier BL",
                  "filter": {
                    "name": "DEJA_ACHETE",
                    "conditions": [[{ "a": "{{1.body.button_reply.id}}", "o": "text:startWith", "b": "ANNUL_DEJA_ACHETE_" }]]
                  }
                }
              ]
            }
          ],
          "label": "Réponse sourceur"
        },
        {
          "flow": [
            {
              "id": 17,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": {},
              "metadata": { "designer": { "x": 900, "y": 400 } },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 18,
                      "module": "tools:SetVariables",
                      "version": 1,
                      "parameters": {},
                      "mapper": {
                        "variables": [
                          {
                            "name": "montant_remboursement_cas2",
                            "value": "{{2.records[1].fields.total_livre_au_port - 2.records[1].fields.frais_notaire - 2.records[1].fields.frais_changement_prop_da}}"
                          }
                        ]
                      },
                      "metadata": { "designer": { "x": 1200, "y": 350 } }
                    },
                    {
                      "id": 19,
                      "module": "airtable:updateRecord",
                      "version": 2,
                      "parameters": { "base": "{{AIRTABLE_BASE_ID}}", "table": "DOSSIERS" },
                      "mapper": {
                        "id": "{{2.records[1].id}}",
                        "fields": { "statut": "ANNULE_CAS2" }
                      },
                      "metadata": { "designer": { "x": 1500, "y": 350 } }
                    },
                    {
                      "id": 20,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://{{SERVER_HOST}}/make-trigger",
                        "method": "POST",
                        "headers": [{ "name": "Content-Type", "value": "application/json" }],
                        "body": {
                          "to": "{{2.records[1].fields.whatsapp_pro}}",
                          "type": "text",
                          "text": "✅ *Annulation CAS2 confirmée — Dossier {{2.records[1].fields.reference_dossier}}*\n\n💰 *Remboursement :* {{formatNumber(18.montant_remboursement_cas2; 0; ' ')}} DA\n(Après déduction frais notaire + frais changement propriétaire)\n\nLe remboursement sera effectué par le notaire sous 5 jours ouvrés."
                        }
                      },
                      "metadata": { "designer": { "x": 1800, "y": 350 } }
                    }
                  ],
                  "label": "Sourceur accepte rétrocession",
                  "filter": {
                    "name": "RETRO_ACCEPTE",
                    "conditions": [[{ "a": "{{1.body.button_reply.id}}", "o": "text:startWith", "b": "RETRO_ACCEPTE_" }]]
                  }
                },
                {
                  "flow": [
                    {
                      "id": 21,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://{{SERVER_HOST}}/make-trigger",
                        "method": "POST",
                        "headers": [{ "name": "Content-Type", "value": "application/json" }],
                        "body": {
                          "to": "{{COURTIER_WHATSAPP}}",
                          "type": "text",
                          "text": "🚨 *URGENTE — Sourceur refuse la rétrocession*\n\nDossier : {{2.records[1].fields.reference_dossier}}\nSourceur : {{2.records[1].fields.nom_sourceur}}\n\nSituation particulière — intervention requise."
                        }
                      },
                      "metadata": { "designer": { "x": 1200, "y": 500 } }
                    },
                    {
                      "id": 22,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": { "handleErrors": false },
                      "mapper": {
                        "url": "https://{{SERVER_HOST}}/make-trigger",
                        "method": "POST",
                        "headers": [{ "name": "Content-Type", "value": "application/json" }],
                        "body": {
                          "to": "{{2.records[1].fields.whatsapp_pro}}",
                          "type": "text",
                          "text": "⚠️ *Situation particulière — Dossier {{2.records[1].fields.reference_dossier}}*\n\nVotre demande d'annulation nécessite une attention particulière. Un de nos conseillers vous contacte dans les prochaines heures pour vous proposer une solution.\n\nNous vous remercions de votre patience."
                        }
                      },
                      "metadata": { "designer": { "x": 1500, "y": 500 } }
                    }
                  ],
                  "label": "Sourceur refuse"
                }
              ]
            }
          ],
          "label": "Réponse rétrocession sourceur"
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true
    }
  }
}
